<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 这里也需要引用使用aop注解定义的类包 -->
    <aop:aspectj-autoproxy/>
    <!-- 接着这里可以申明Aspect的Bean -->
    <context:annotation-config/>
    <!-- 注入扫描 -->
    <context:component-scan base-package="com.huawei.service.impl" />
    <!-- 加载properties文件  -->
    <bean id="propertyConfigurer"  
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">  
        <property name="location" value="classpath:mysqldb.properties" />  
    </bean> 
</beans>